h1
{
color: #008000;
}

p
{
color: #0000FF;
}

h1, h2
{
background-color: #888888;
}

body
{
font-family: sans-seriff;
font-size: 12px;
text-decoration: line-through;
}

h2
{
text-decoration: underline;
}

h1
{
text-transform: uppercase;
margin: 20px;
padding: 40px;
border-style: dashed;
border-width: 5px;
border-left-width: 10px;
border-right-width: 10px;
border-color: red;
}

